* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: solid magenta;
}

.main-box {
    width: 450px;
    height: 600px;
    border: 2px solid red;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.display-box {
    background-color: grey;
    width: 430px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    border: solid rebeccapurple;
}

all-btn-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.top-btn-group {
    width: 100%;
    height: 80px;
    border: solid green;
    display: flex;
    
}

button {
    width: 100%;
}

.else-btn-group {
    display: flex;
    flex-wrap: wrap;
    border: solid red;
}

.else-btn-group button {
    width: 80px;
    height: 40px;
}