* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: solid magenta;
}

.main-box {
    width: 450px;
    height: 600px;
    border: 2px solid red;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.display-box {
    background-color: grey;
    width: 430px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
}