* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-box {
    width: 450px;
    height: 600px;
    border: 4px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.display-box {
    background-color: lightgrey;
    width: 430px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.all-btn-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    padding: 10px;
}


.row {
    display: flex;
    flex: 1;
}

button {
    width: 106.5px;
    height: 100%;
    font-size: 1.4rem;
}

#ac-button, #slash-button {
    width: 106.5px;
}
#backspace-button {
    width: 213px;
}

.text-content { 
    border: 2px solid red;
    height: 80px;
    flex: 1;
    text-align: end;
    font-size: 70px;
}

#main-display { 
    margin: 0;
    margin-right: 5px;
}

